<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.data.navi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".NaviActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <activity
            android:name=".NaviRouteActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>


</manifest>
